body {
		background-image: url("../images/back.jpeg");
		margin: auto;
		width: 750px;
		font-family: Arial;


}

h1, h3 {
	color: #000000;
	font-family: Arial;
	text-align: right;
	height: 12px;

}

#banner {
	text-align: right;
	border: 10px black;
	object-fit: fill;
}

#slogan {
	color: #000000;
	font-weight: bold;
	text-align: right;
	
}

.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-weight: bold;
}

.topnav li {
    float: left;
}
.topnav li a { 
    display: block;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover {
    background-color: #A9A9A9;
}



