body {
		background-image: url("../images/back.jpeg");
		margin: auto;
		width: 57%;


}

h1 {
	color: #000000;
	font-family: Arial;
	text-align: right;
	height: 10px;


}
#topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#banner {
	text-align: right;
	border: 3px black;
}

#slogan {
	color: #000000;
	font-weight: bold;
	text-align: right;
	
}
