body {
		background-image: url("https://raw.githubusercontent.com/tinamans/tinamans.github.io/master/unit_3/images/fire.jpg");
		background-size: cover;	
}

h1, p {
	color: #000000;
	font-family: Arial;

}
